body {
    height: 100vh;
  }

body {
    color: #ffffff;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

main {
    margin-top: 50px;
}

h2 {
    margin-bottom: 1.5vw;
}

.jumbotron {
    background: inherit;
}

.title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #443f3f;
}

.card, li {
    color: #443f3f;
    margin-top: 15px;
}

.masthead a {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
}


/* Rotate Icon with CSS */

.expand input {display: none};

i {
    background: inherit;
    outline: none;
    padding: 5px;
}

i::before {
    font-size: 2em;
    transition: all 500ms;
}

input:checked + i.icon-chevron-down::before {
    display: block;
    transform: rotate(180deg);
}

input+ i.icon-chevron-down::before {
    display: block;
    transform: rotate(0deg);
}


/* Style list item todos */

.abs-right {
    position: absolute;
    right: 15px;
    top: 0px;
}

#toodleEdit {
    margin: 30px;
}

label.expand {
    padding: 8px 0;
}

.icon-close {
    color: #ff4848;
}

.icon-check {
    color: #48ff48;
}

.formDelete, .formComplete {
    display: inline-block;
}

.formDelete button, .formComplete button {
    background: inherit;
    outline: none;
    border: none;
    font-size: 2em;
}

.no-js-hide {
    display: none;
}

.list-group-item a:hover {
    text-decoration: none;
    box-shadow: 0 2px 0 0 #443f3f;
}

.navbar-toggler {
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

.navbar-collapse {
    margin-top: 21px;
    filter: hue-rotate(145deg);
    background: rgba(198, 198, 198, 0.21);
}

.activeToodles, .completedToodles {
    margin: 20px;
    padding: 5px 20px;
    display: inline-block
}

 .completedToodles {
     background: #48ff48;
 }

 .activeToodles {
     background: #ff4848;
 }