body {
    height: 100vh;
  }

body {
    color: #ffffff;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card, li {
    color: #443f3f;
    margin-top: 15px;
}

.masthead a {
    color: #f7f7f7;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
}


/* Rotate Icon with CSS */

.expand input {display: none};

i {
    background: inherit;
    outline: none;
    padding: 5px;
}

i::before {
    font-size: 2em;
    transition: all 500ms;
}

input:checked + i.icon-chevron-down::before {
    display: block;
    transform: rotate(180deg);
}

input+ i.icon-chevron-down::before {
    display: block;
    transform: rotate(0deg);
}


/* Style list item todos */

.abs-right {
    position: absolute;
    right: 15px;
    top: 0px;
}

#toodleEdit {
    margin: 30px;
}

label.expand {
    padding: 8px 0;
}

.icon-close:before {
    color: #ff4848;
    content: "\f00d";
}

.formDelete {
    display: inline-block;
}

.formDelete button {
    background: inherit;
    outline: none;
    border: none;
    font-size: 2em;
}

.no-js-hide {
    display: none;
}