<!--header.html-->

<!doctype html>
<html>

<head>
  <!--Use the `title` variable to set the title of the page-->
  <title>{{ .title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/icomoon/style.css">

  <!--Use bootstrap to make the application look nice-->
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script async src="/assets/bootstrap/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.show').removeClass("show");
      $('.no-js-hide').removeClass("no-js-hide");
    });
  </script>

</head>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    {{ template "menu.html" . }}
    <div class="container">
    <main role="main" class="inner cover">