<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1 class="cover-heading">{{.title}}</h1>
<p class="lead">Toodles, stay organized. Get stuff done!</p>
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-body">
                You will love Toodles.
            </div>
        </div>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}