<!--menu.html-->
<div class="container">
  <header class="masthead mb-auto">
    <div class="inner">
        <nav class="nav nav-masthead navbar-expand-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
          <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
          <a class="nav-link active float-right" href="/">Home</a>
          <span>
            {{ if .loggedin }}
            <a class="nav-link float-left" href="/toodles">Toodles</a>
            <a class="nav-link float-left" href="/account">Account</a>
            <a class="nav-link float-left" href="/logout">Logout</a>
            {{ else }}
            <a class="nav-link float-left" href="/login">Login</a>
            <a class="nav-link float-left" href="/signup">Sign-up</a>
            {{ end }}
          </span>
        </nav>
    </div>
  </header>
</div>