<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1 class="cover-heading jumbotron">{{ .title }}</h1>
<p class="lead">{{ .subtitle }}</p>

<div class="row">

    <div class="col-md-6 offset-md-3 text-left">
        <div class="card">
            <div class="card-body">
                <form id="signup" action="/signup" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                        <small id="emailHelp" class="form-text text-danger">{{ .error.Email }}</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                        <small id="passwordHelp" class="form-text text-danger">{{ .error.Password }}</small>
                    </div>
                    <button type="submit" class="btn btn-dark" onClick="signup(event)">Submit</button>
                </form>
            </div>
           </div>
        </div>


        <!--Embed the footer.html template at this location-->
        {{ template "footer.html" .}}