<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h2>Your Active Toodles</h2>

<div class="card w-100 mb-4">
    <div class="card-body">
<form action="/todos" method="post">
    <div class="form-group">
        <input name="title" type="text" class="form-control" id="title" placeholder="Find the keys">
    </div>
    <div class="form-group">
        <input name="note" type="text" class="form-control" id="note" placeholder="Because I lost them two weeks ago.">
    </div>
    <button type="submit" class="btn btn-dark">Add</button>
</form>
</div>
</div>
<!-- <input name="method" type="hidden" value="delete"> -->
<ul class="list-group">
  {{range .payload }}
  <!-- <a href="/todos/{{.ID.Hex}}"> -->
    <li class="list-group-item">{{.Title}} 
      <button class="btn btn-danger" onClick="deleteToodle(event, {{.ID.Hex}})">Delete</button>
      <i class="icon-chevron-down" data-toggle="collapse" data-target="#toodleEdit" aria-expanded="false" aria-controls="toodleEdit" onClick="() => e.preventDefault()">
      </i>
        <div class="collapse" id="toodleEdit">
            <div class="card card-body">
                <form action="/todos/{{.ID.Hex}}" method="post">
                  <input type="hidden" name="method" value="put">
                  <div class="form-group">
                      <input name="title" type="text" class="form-control" id="title" placeholder="Find the keys">
                  </div>
                  <div class="form-group">
                      <input name="note" type="text" class="form-control" id="note" placeholder="Because I lost them two weeks ago.">
                  </div>
                  <button type="submit" class="btn btn-dark">Add</button>
              </form>
            </div>
        </div>
    </li>
  <!-- </a> -->
  {{end}}
</ul>
<script>
  function deleteToodle(e, id) {
    e.preventDefault();
    fetch("/todos/" + id, {
      method: 'DELETE',
      headers: {
      'content-type': 'application/json'
    },
    })
    .then(data => { 
      if  (data.status == 200) {
        var el = e.target.parentNode.parentNode;
        el.parentNode.removeChild(el);
      }
    });
  }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}