<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h2>Your Active Toodles</h2>

<div class="card w-100 mb-4">
    <div class="card-body">
<form id="add-toodle" action="/toodles" method="post">
    <input name="csrf" type="hidden" value="{{.csrfToken}}" >
    <div class="form-group">
        <input name="title" type="text" class="form-control" id="title" placeholder="Find the keys">
    </div>
    <div class="form-group">
        <input name="content" type="text" class="form-control" id="content" placeholder="Because I lost them two weeks ago.">
    </div>
    <button type="submit" class="btn btn-dark" onClick="addToodle(event)">Add</button>
</form>
</div>
</div>
<!-- <input name="method" type="hidden" value="delete"> -->
<ul class="list-group">
  {{range .payload }}
    <li class="list-group-item">

        <a href="/toodles/{{.ID.Hex}}" onClick="event.stoppropagation()">
            <span class="title" data-toggle="collapse" data-target="#toodleEdit-{{.ID.Hex}}" aria-expanded="false" aria-controls="toodleEdit">
                {{.Title}} 
            </span>
        </a>
   
      
      <div class="abs-right">

        <form class="formComplete" action="/toodles/{{.ID.Hex}}" method="post">
            <input name="csrf" type="hidden" value="{{$.csrfToken}}" >
            <input type="hidden" name="method" value="put">
            <button type="submit" class="icon-check" onClick="complteToodle(event, {{.ID.Hex}})"></button>
        </form>

        <form class="formDelete" action="/toodles/{{.ID.Hex}}" method="post">
          <input name="csrf" type="hidden" value="{{$.csrfToken}}" >
          <input type="hidden" name="method" value="delete">
          <button type="submit" class="icon-close" onClick="deleteToodle(event, {{.ID.Hex}})"></button>
        </form>

        <label class="expand no-js-hide" data-toggle="collapse" data-target="#toodleEdit-{{.ID.Hex}}" aria-expanded="false" aria-controls="toodleEdit">
            <input type="checkbox">
            <i class="icon-chevron-down"></i>
        </label>
      </div>

        <div class="collapse" id="toodleEdit-{{.ID.Hex}}">
            <div class="card card-body">
                <form action="/toodles/{{.ID.Hex}}" method="post">
                  <input name="csrf" type="hidden" value="{{$.csrfToken}}" >
                  <input type="hidden" name="method" value="put">   
                  <div class="form-group">
                      <input name="title" type="text" value="{{.Title}}" class="form-control" id="title" placeholder="{{.Title}}">
                  </div>
                  <div class="form-group">
                      <input name="content" type="text" value="{{.Content}}" class="form-control" id="content" placeholder="{{.Content}}">
                  </div>
                  <button type="submit" class="btn btn-success" onClick="updateToodle(event, {{.ID.Hex}} )">Update</button>
              </form>
            </div>
        </div>
    </li>

  {{end}}
</ul>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}