<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1 class="cover-heading jumbotron">Edit Toodle</h1>

<div class="col-md-6 offset-md-3 text-left">
<div class="card w-100">
    <div class="card-body">
        <form class="formDelete float-right" action="/toodles/{{.toodle.ID.Hex}}" method="post">
          <input name="csrf" type="hidden" value="{{.csrfToken}}" >
          <input type="hidden" name="method" value="delete">
          <button type="submit" class="icon-close" onClick="deleteToodle(event, {{.toodle.ID.Hex}})"></button>
        </form>
      <h5 class="card-title">{{.toodle.Title}}</h5>
      <p class="card-text">{{.toodle.Content}}</p>
      <div class="card card-body">
          <form action="/toodles/{{.toodle.ID.Hex}}" method="post">
            <input name="csrf" type="hidden" value="{{.csrfToken}}" >
            <input type="hidden" name="method" value="put">
            <div class="form-group">
                <input name="title" type="text" value="{{.toodle.Title}}" class="form-control" id="title" placeholder="{{.toodle.Title}}" required>
                <small data-help="titleHelp" class="form-text text-danger">{{ .error.Title }}</small>
            </div>
            <div class="form-group">
              <textarea name="content" type="text" class="form-control" id="content" placeholder="{{.toodle.Content}}" rows="3">{{.toodle.Content}}</textarea>
              <small data-help="contentHelp" class="form-text text-danger">{{ .error.Content }}</small>
            </div>
            <a href="/toodles" class="btn btn-dark">Back</a>
            <button type="submit" class="btn btn-success" onClick="updateToodle(event, {{.toodle.ID.Hex}} )">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
